<a href="https://colab.research.google.com/github/LESSLUNA/PROGCOM-A/blob/main/palabras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. print()
Descripción: Muestra información en la consola.

Ejemplo:

In [ ]:
print("Hola, Mundo!")

2. len()
Descripción: Devuelve la longitud de un objeto (como una lista o cadena).

Ejemplo:

In [ ]:
print(len("Hola"))  # Salida: 4

3. type()
Descripción: Devuelve el tipo de un objeto.

Ejemplo:

In [ ]:
print(type(10))  # Salida: <class 'int'>

4. input()
Descripción: Permite al usuario introducir datos desde la consola.

Ejemplo:

In [ ]:
nombre = input("Introduce tu nombre: ")
print("Hola", nombre)

5. int()
Descripción: Convierte un valor a entero.

Ejemplo:

In [ ]:
numero = int("5")
print(numero + 1)  # Salida: 6

6. str()
Descripción: Convierte un valor a cadena de texto.

Ejemplo:

In [ ]:
numero = 10
print(str(numero) + " es un número.")

7. float()
Descripción: Convierte un valor a número flotante.

Ejemplo:/*63*9963

In [ ]:
numero = float("3.14")
print(numero + 1)  # Salida: 4.14

8. sum()
Descripción: Suma los elementos de un iterable (como una lista).

Ejemplo:

In [ ]:
numeros = [1, 2, 3]
print(sum(numeros))  # Salida: 6

9. max()
Descripción: Devuelve el valor máximo de un iterable.

Ejemplo:

In [ ]:
numeros = [1, 2, 3]
print(max(numeros))  # Salida: 3

10. min()
Descripción: Devuelve el valor mínimo de un iterable.

Ejemplo:

In [ ]:
numeros = [1, 2, 3]
print(min(numeros))  # Salida: 1

11. abs()
Descripción: Devuelve el valor absoluto de un número.

Ejemplo:

In [ ]:
print(abs(-5))  # Salida: 5

12. round()
Descripción: Redondea un número flotante al número especificado de decimales.

Ejemplo:

In [ ]:
print(round(3.14159, 2))  # Salida: 3.14

13. sorted()
Descripción: Devuelve una nueva lista con los elementos ordenados.

Ejemplo:

In [ ]:
lista = [3, 1, 2]
print(sorted(lista))  # Salida: [1, 2, 3]

14. reversed()
Descripción: Devuelve un iterador que recorre el objeto en orden inverso.

Ejemplo:

In [ ]:
lista = [1, 2, 3]
print(list(reversed(lista)))  # Salida: [3, 2, 1]

15. range()
Descripción: Genera una secuencia de números en un rango especificado.

Ejemplo:

In [ ]:
for i in range(3):
    print(i)  # Salida: 0, 1, 2

16. enumerate()
Descripción: Devuelve un objeto enumerado de un iterable (índice y valor).

Ejemplo:

python
Copiar código

In [ ]:
lista = ["a", "b", "c"]
for index, value in enumerate(lista):
    print(index, value)

17. any()
Descripción: Devuelve True si al menos un elemento de un iterable es True.

Ejemplo:

In [ ]:
lista = [False, True, False]
print(any(lista))  # Salida: True

18. all()
Descripción: Devuelve True si todos los elementos en un iterable son True.

Ejemplo:

In [ ]:
print(all([True, True, True]))  # Salida: True
print(all([1, 2, 3]))  # Salida: True
print(all([True, False, True]))  # Salida: False

19. enumerate()
Descripción: Añade un índice a los elementos de un iterable.

Ejemplo:

In [ ]:
lista = ["a", "b", "c"]
print(list(enumerate(lista)))  # Salida: [(0, 'a'), (1, 'b'), (2, 'c')]

20. zip()
Descripción: Une dos o más listas en pares.

Ejemplo:

In [ ]:
nombres = ["Ana", "Juan"]
edades = [25, 30]
print(list(zip(nombres, edades)))  # Salida: [('Ana', 25), ('Juan', 30)]

21. sorted()
Descripción: Devuelve una lista ordenada.

Ejemplo:

In [ ]:
print(sorted([3, 1, 2]))  # Salida: [1, 2, 3]

22. reversed()
Descripción: Invierte el orden de un iterable.

Ejemplo:

In [ ]:
print(list(reversed([1, 2, 3])))  # Salida: [3, 2, 1]

23. range()
Descripción: Genera una secuencia de números.

Ejemplo:

In [ ]:
print(list(range(3)))  # Salida: [0, 1, 2]

24. map()
Descripción: Aplica una función a cada elemento de un iterable.

Ejemplo:

In [ ]:
def cuadrado(x):
    return x * x

print(list(map(cuadrado, [1, 2, 3])))  # Salida: [1, 4, 9]

25. filter()
Descripción: Filtra elementos de un iterable que cumplan una condición.

Ejemplo:

In [ ]:
numeros = [1, 2, 3, 4, 5]
pares = list(filter(lambda x: x % 2 == 0, numeros))
print(pares)  # Salida: [2, 4]

26. chr()
Descripción: Convierte un número ASCII en un carácter.

Ejemplo:

In [ ]:
print(chr(65))  # Salida: 'A'

27. ord()
Descripción: Convierte un carácter en su código ASCII.

Ejemplo:

In [ ]:
print(ord('A'))  # Salida: 65

28. bin()
Descripción: Convierte un número a binario.

Ejemplo:

In [ ]:
print(bin(10))  # Salida: '0b1010'

29. hex()
Descripción: Convierte un número a hexadecimal.

Ejemplo:

In [ ]:
print(hex(255))  # Salida: '0xff'

30. oct()
Descripción: Convierte un número a octal.

Ejemplo:

In [ ]:
print(oct(8))  # Salida: '0o10'

31. isinstance()
Descripción: Verifica si un objeto es de un tipo específico.

Ejemplo:

In [ ]:
print(isinstance(10, int))  # Salida: True

32. callable()
Descripción: Verifica si un objeto es una función.

Ejemplo:

In [ ]:
def funcion():
    pass

print(callable(funcion))  # Salida: True

33. eval()
Descripción: Evalúa una expresión en forma de cadena.

Ejemplo:

In [ ]:
print(eval("3 + 5"))  # Salida: 8

34. exec()
Descripción: Ejecuta código Python en forma de cadena.

Ejemplo:

In [ ]:
codigo = "print('Hola')"
exec(codigo)  # Salida: Hola

35. format()
Descripción: Da formato a una cadena.

Ejemplo:

In [ ]:
codigo = "print('Hola')"
exec(codigo)  # Salida: Hola

36. divmod()
Descripción: Retorna el cociente y el residuo de una división.

Ejemplo:

In [ ]:
print(divmod(10, 3))  # Salida: (3, 1)

37. id()
Descripción: Retorna el identificador único de un objeto.

Ejemplo:

In [ ]:
x = 5
print(id(x))  # Salida: Número único de memoria

38. hash()
Descripción: Retorna el valor hash de un objeto.

Ejemplo:

In [ ]:
print(hash("Hola"))  # Salida: Número único hash

39. help()
Descripción: Muestra la documentación de una función.

Ejemplo:

In [ ]:
help(print)

40. repr()
Descripción: Retorna la representación de un objeto en cadena.

Ejemplo:

In [ ]:
print(repr("Hola"))  # Salida: "'Hola'"

41. bool()
Descripción: Convierte un valor en True o False.

Ejemplo:

In [ ]:
print(bool(0))  # Salida: False
print(bool(1))  # Salida: True

42. bytes()
Descripción: Convierte datos en una secuencia de bytes.

Ejemplo:

In [ ]:
print(bytes("Hola", "utf-8"))  # Salida: b'Hola'

43. bytearray()
Descripción: Crea un array de bytes modificable.

Ejemplo:

In [ ]:
b = bytearray([65, 66, 67])
print(b)  # Salida: bytearray(b'ABC')

44. memoryview()
Descripción: Crea una vista de memoria de un objeto de bytes.

Ejemplo:

In [ ]:
b = bytes("Hola", "utf-8")
m = memoryview(b)
print(m[0])  # Salida: 72 (ASCII de 'H')

45. complex()
Descripción: Crea un número complejo.

Ejemplo:

In [ ]:
print(complex(2, 3))  # Salida: (2+3j)

46. frozenset()
Descripción: Crea un conjunto inmutable.

Ejemplo:

In [ ]:
fs = frozenset([1, 2, 3])
print(fs)  # Salida: frozenset({1, 2, 3})

47. slice()
Descripción: Crea un objeto de segmento para rebanar secuencias.

Ejemplo:

In [ ]:
s = slice(1, 4)
print([0, 1, 2, 3, 4][s])  # Salida: [1, 2, 3]

48. staticmethod()
Descripción: Define un método estático en una clase.

Ejemplo:

In [ ]:
class Ejemplo:
    @staticmethod
    def saludo():
        return "Hola"

print(Ejemplo.saludo())  # Salida: Hola

49. classmethod()
Descripción: Define un método de clase.

Ejemplo:

In [ ]:
class Ejemplo:
    valor = "Hola"

    @classmethod
    def obtener_valor(cls):
        return cls.valor

print(Ejemplo.obtener_valor())  # Salida: Hola

50. super()
Descripción: Llama métodos de la clase padre.

Ejemplo:

In [ ]:
class Padre:
    def mensaje(self):
        return "Hola desde Padre"

class Hijo(Padre):
    def mensaje(self):
        return super().mensaje() + " y Hijo"

print(Hijo().mensaje())  # Salida: Hola desde Padre y Hijo

51. open()
Descripción: Abre un archivo.

Ejemplo:

In [ ]:
archivo = open("archivo.txt", "w")
archivo.write("Hola")
archivo.close()

52. delattr()
Descripción: Elimina un atributo de un objeto.

Ejemplo:

In [ ]:
class Prueba:
    x = 10

delattr(Prueba, "x")